.navbar: {
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4),
            0px 1px 2px rgba(0,255,255,0.5), 
            0px 2px 4px rgba(0,255,255,0.5), 
            0px 4px 8px rgba(0,255,255,0.5), 
            0px 8px 16px rgba(0,255,255,0.5);
}

/* Style pour l'effet parallax */
.parallax {
    /* Chemin de l'image ajustable */
    background-image: url('../img/Hero.png');
    /* Hauteur de la section */
    height: 1500px; 
    /* Création de l'effet parallax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Filtre flou */
    filter: blur(2px);
    /* Ajustement du flou pour ne pas déborder */
}

/* Réajuster l'arrière-plan */
.parallax::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: inherit;
    background-attachment: fixed;
    background-position: inherit;
    background-repeat: inherit;
    background-size: inherit;
    filter: blur(8px);
}



/* Style pour la bande colorée */
.navbar-color-band {
    background-color: #333; /* Assortie à la navbar */
    height: 100px; /* Hauteur fixe de la bande */
    width: 100%; /* Largeur complète */
}
